{% load static %}
<html lang="en">
<head>
    {% include "Portfolio_head.html" %}
    <meta charset="UTF-8">
    <title>Shiv Patel</title>
</head>

<body>
        {% include "Portfolio/navbar.html" %}
        <div id="pageblur" onclick="togglenav()">
        </div>
        <div class="pagedetailwrapper">
            <div class="contentwrapper">
                <div class="blogdetailcontainer">
                    <div class="postdetailcontainer">


                    </div>
                </div>
            </div>
        </div>
        {% include "Portfolio/contactform.html" %}
</body>

{% include "Portfolio/footer.html" %}

</html>